%h2
  %div.home_wrapper
    = link_to 'Sign in', new_user_session_path, :class => 'home'
    %br
    = link_to 'Sign up', new_user_registration_path, :class => 'home'
    %br
    = link_to 'Demo', demo_scores_path, :class => 'home'
