.info_wrapper
  %h3 Lilypond in a webapp.
  %h4 A few notes about this site:
  %p
    If you made a mistake and your score won't compile you can still use ctrl-z to undo changes.
    This is possible because the input-textarea is not reloaded after you submit a score, so any
    changes are still remembered by your browser. 
  %p
    As indicated by "\version" statement you'll see when you create a new document, Lilydocs
    is currently using lilypond 2.12.3.
  %p
    If you want to tinker with "source code", see 
    %a(href='https://github.com/careljonkhout/lilydocs') The lilydocs repository on github.
  %p
    This site was created by Carel Jonkhout.
  %p
    To learn more about Lilypond see:
    %ul
      %li
        %a(href='http://lilypond.org/') the Lilypond website
      %li
        %a(href='http://en.wikipedia.org/wiki/GNU_LilyPond') GNU Lilypond article on Wikipedia
  - if current_user && current_user.id =  1
    %h3 
      Number of users:
      = User.count
